
.header {
    display: flex;
    align-items: center;
}

.icon {
    margin-left: 15px;
}

.blogName {
    margin-left: 10px;
    width: 160px;
    height: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #1A1718;
}


.blockLogo {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1028px;
    height: 312px;
    background: #FFFFFF;
}

.logo {
    width: 74px;
    height: 74px;
}

.blogPosts {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}